body {
  background: url('http://jeknetwork.typepad.com/.a/6a00e554e88723883301a511ad66d6970c-pi');
  /*opacity: 0.5;*/
}

.nav-item {
  display: inline;
  padding-left: 10px;
}

.navbar {
  border: 2px;
  border-radius: 7px;
  border-color: black;
  border-style: solid;
}

.navbar-div {
  padding-left: 75%;
}

.mini-banner{
  text-align: center;
}

.welcome-login {
  margin: 5% 50%;
}

.welcome-banner {
  position: relative;
}

.tagline {
  font-style: italic;
}

.register-form {
  border: 2px;
  border-style: solid;
  width: 250px;
  min-height: 250px;
}
