.nav-item {
  display: inline;
  /*padding-left: 10px;*/
}

.navbar {
  border: 2px;
  border-radius: 7px;
  border-color: black;
  border-style: solid;
}

.navbar-div {
  padding-left: 75%;
}

.welcome-banner {

}

.tagline {
  font-style: italic;
}
