body {
  background-image: url('http://jeknetwork.typepad.com/.a/6a00e554e88723883301a511ad66d6970c-pi');
}

#background-set {
  background-color: rgba(255, 255, 255, .5);
  width: 100%;
  height: 100%;
  bottom: 0;
  position: fixed;
}

button {
  font-family: 'Ubuntu', sans-serif;
}

.nav-item {
  display: inline;
  padding-left: 10px;
}

.navbar {
  border: 2px;
  border-radius: 7px;
  border-color: black;
  border-style: solid;
  font-family: 'Ubuntu', sans-serif;
}

.navbar-div {
  padding-left: 75%;
}

.welcome-banner {
}

.mini-banner{
  text-align: center;
  font-family: 'Ribeye', cursive;
}

.welcome-login {
  margin: 5% 50%;
}

.tagline {
  font-style: italic;
}

.welcome-info {
  font-family: 'Marck Script', cursive;
  font-size: 21px;
}

#register-form {
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  width: 250px;
  min-height: 275px;
  background-color: CadetBlue;
  font-family: 'Ubuntu', sans-serif;
}


